.section {
    margin-left: 5%;
    text-align: left;
}

ul, ol {
    margin-left: 0;
    padding-left: 0;
    list-style-position: inside;
}

.print-table {
    width: 100%;
    border-collapse: collapse;
}

.my-table-header table {
    border: 1px solid black;
    width: 100%;
}

.my-table-header table * td {
    border: 1px solid black;
    text-align: center
}

/* Estilos de impresión */
@media print {
    @page {
        size: A4;
        margin: 20mm;
    }

    .page-head {
        border: 1px solid black;
        width: 100%;
    }

    .print-header {
        display: table-header-group;
        border-bottom: 1px solid #ddd;
      }

    body {
        margin: 0;
        padding: 0;
        -webkit-print-color-adjust: exact;
    }

    .hhd {
        display: table-header-group;
    }

    .bbd {
        display: table-row-group;
    }

    table.my-table-header {
        border: 1px solid black;
        width: 100%;
    }

    table, tr, td, div, p {
        page-break-inside: auto;
    }
}