h3 {
    color: gray;
}


.parentContainer {
    width: 80%;
    height: 100vh;
    display: flex;
    margin-left: 20%;
}

.centered {
    display: grid;
    place-items: center;
    height: 100vh;
    width: 80%;
}

.titleContainer {
    margin: 0 auto;
    display: block;
}

.mainContainer {
    flex: 50%;
    
    align-items: center;
    display: block;
}

.error {
    background-color: #902c3e;
    color: white;
    margin: 10px 10px 10px 10px;
}

.inputContainer {
    padding-top: 10px;
}
