.mainContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  
  .titleContainer {
    margin-bottom: 20px;
  }
  
  .welcomeContainer {
    text-align: center;
    margin-bottom: 40px;
    max-width: 600px;
  }
  
  .imageGrid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
    justify-content: center;
    max-width: 1200px;
  }
  
  .imageItem {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #f9f9f9;
    transition: transform 0.3s;
  }
  
  .imageItem:hover {
    transform: scale(1.05);
  }
    .modalContainer, .isoDetailModal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  }
     .modalOverlay {
       background: rgba(0, 0, 0, 0.75);
       position: fixed;
       top: 0;
       left: 0;
       right: 0;
       bottom: 0;
       z-index: 999;
     }
     .paypalContainer {
         margin-top: 20px;
         text-align: center;
         position: relative;
         z-index: 10;
      }
      .centeredModal {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: white;
        padding: 2rem;
        border-radius: 10px;
        box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
        z-index: 1001;
      }
      